.App {
  text-align: center;
  background-color: #8a82a3;
  min-width: 100px;
  margin: 100px 200px;
  height: 400px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.incorrect {
  color: red;
}

.invisible {
  visibility: hidden
}

.visible {
  visibility: visible
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #204499;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}